<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            
            <include hint="list:AddIncludedTemplate">
              <eventDetails>{1CE758B3-02B6-4A2A-B5D9-0B138416F93B}</eventDetails>
            </include>
            
            <include hint="list:AddIncludedField">            
              <contentheading>{45C0844F-5D76-4E2E-8562-A76351171716}</contentheading>
              <contentintro>{94EA420A-B255-43C2-BB25-A62905340DAA}</contentintro>
              <startdate>{13E8FB2F-379B-4312-BEFD-5E4EB3A46E40}</startdate>
            </include>
            
          </documentOptions>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="contentheading" returnType="text" />
              <field fieldName="contentintro" returnType="text" />
              <field fieldName="startdate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" />

              <!-- Add your field configuration here -->
            
            </fieldNames>

          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>