@using events.tac.local.Models
@model IEnumerable<NavigationItem>

<ol class="breadcrumb">
    @foreach (var navItem in Model)
    {
        <li>
            <a class="@(navItem.Active ? "active" : String.Empty)" href="@navItem.URL">@navItem.Title</a>
        </li>
    }
</ol>